@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-image: url("https://all.accor.com/magazine/imagerie/ferias-na-praia-o-que-fazer-das-f163.jpg");
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
</style>

<div class="text-center">
    <h1 class="display-4"><b>A viagem dos seus sonhos começa na Arplex</b></h1>
</div>
