@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h3>Política de Privacidade</h3>
<br>
<p>Nós da Arplex sabemos que o fornecimento de informações envolve muita confiança de sua parte. Levamos essa confiança
    muito a sério e temos, como prioridade, garantir a segurança e a proteção dos dados pessoais fornecidos por nossos
    “Clientes” (ou “Você”) em qualquer contato com a Arplex, seja por meio do nosso site, do aplicativo Minha Arplex ou
    em uma das nossas lojas físicas ao redor do Brasil.</p>
<br>
<p>Esta Política de Privacidade tem o objetivo de fornecer informações claras e precisas aos nossos Clientes sobre a
    coleta, utilização, armazenamento e outros tipos de tratamento de seus dados pessoais realizados no contexto da
    prestação de serviços, disponibilização e gestão das nossas plataformas, além de informar como a privacidade dos
    Clientes é protegida no curso de nosso relacionamento com Você.</p>
<br>
<h3>1. A QUE SE APLICA ESTA POLÍTICA DE PRIVACIDADE</h3>
<br>
<p>Nossa Política de Privacidade é aplicada aos usuários e demais indivíduos que navegam em nosso site
    https://www.Arplex.com.br/ ou em nosso aplicativo Minha Arplex (“Plataforma”), bem como aos nossos clientes que
    visitam às nossas lojas físicas ao redor do Brasil (“Loja”) (em conjunto, também denominados como “Arplex”). A
    Arplex corresponde à controladora dos dados pessoais cujo tratamento é descrito na presente Política de Privacidade,
    tratando-os em conjunto com outros controladores e operadores, conforme descrito neste documento.</p>
<br>
<p>Assim sendo, essa Política de Privacidade se aplicará, por exemplo, aos dados fornecidos por Você quando Você cria
    uma conta em nossa Plataforma ou nas hipóteses de solicitação de cotação, contratação de um pacote ou serviço
    ofertado pela Arplex, troca de mensagens ou outras formas de contato com a Arplex, ou, ainda, em outras situações
    nas quais Você tenha contato com nossos serviços, como navegar ou fazer qualquer uso de nossa Plataforma. Nossa
    Política de Privacidade também será aplicável aos dados pessoais coletados pela Arplex de forma automática quando
    Você acessa a nossa Plataforma (por exemplo, seu endereço IP, data e hora).</p>
<br>
<h3>2. INFORMAÇÕES QUE TRATAMOS</h3>
<br>
<p>A Arplex poderá coletar e tratar os dados pessoais dos Clientes para os fins descritos nessa Política de Privacidade.
    Os tipos de dados pessoais que trataremos ao longo da nossa relação poderão englobar:</p>
<br>
<p>Informações cadastrais. Ao se cadastrar, entrar em contato conosco ou demonstrar interesse pelos nossos serviços,
    Você nos fornecerá inicialmente alguns dados cadastrais, tais como nome completo, número de um documento de
    identificação e/ou número do passaporte em caso de viagem internacional, telefone de contato, endereço de e-mail,
    data de nascimento, sexo, endereço, entre outros dados de identificação necessários para a prestação de nossos
    serviços.</p>
<br>
<p>Informações complementares. Para dar andamento à contratação de alguns serviços, poderemos solicitar dados
    complementares para a análise de crédito e posterior formalização do contrato. Tais dados incluem: digitalização de
    documento de identificação com assinatura (por exemplo, RG ou CNH), nacionalidade, profissão, cargo, entre outros
    dados. Em regra, coletaremos esses dados apenas do Cliente que é o titular do cadastro e o responsável pela
    celebração do contrato.</p>
<br>
<p>Processamento de pagamentos e informações bancárias. Poderemos atuar em conjunto com empresas terceirizadas de
    gerenciamento de pagamentos online, financiamentos, dentre outras, para processar compras e a aquisição de produtos
    e serviços realizadas por Você. Nesses casos, é importante que Você esteja ciente de que tais empresas poderão
    coletar e armazenar suas informações e dados, inclusive dados bancários e dados de cartão de crédito. Em nossa
    Plataforma, poderemos dar aos Clientes a opção de salvar informações relacionadas ao seu formulário e escolha de
    pagamento. Se Você salvar essas informações de pagamento, Você poderá adicionar, excluir ou modificar essas
    informações a qualquer momento.</p>